name: testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
      - run: npm ci
      - run: npm run lint
      - run: npm run test
